body {
    display: flex;
    justify-content: center;
    background-color: light-dark(white, white)/*first one is dark mode*/
}

main {
    line-height: 2;
    display: grid;
    justify-items: left;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1200px;
    gap: 10px;
}

#background {
    width: 1250px;
    height: 100%;
    background-color: lightgray;
    position: fixed;
    left: 50%;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
    z-index: -1;
}

h1 {
    font-family: "Comic Sans", "Comic Relief", sans-serif;
    justify-self: center;
}
#download {
    justify-self: center;
    width: 70%
}
#fileInput {
    justify-self: center
}

#editor {   
    display: grid;
    width: 100%;
    min-height: 100px;
    height: max-content;
    position: relative;
    font-family: monospace;
    line-height: 1.15;
}

#output,
#fakeOutput {
    inset: 0;
    grid-area: 1/1;
    min-height: 50vh;
    height: max-content;
    padding: 3px 5px 5px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

#output {
    margin: 0;
    color: transparent;
    background: rgb(255 255 255 / 60%);
    /*background: light-dark(
        rgb(0 0 0 / 60%)
        rgb(255 255 255 / 60%)
    );*/
    caret-color: black;
}

#fakeOutput {
    color: black;
    pointer-events: none;
    outline: 1px solid black;
    .comment {
        color: darkgreen
    }
}